{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('FHAMIGOS Portal') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('FHAMIGOS Portal') }}</a></h1>
{% endblock %}

{% block extrahead %}
    {% if plausible_domain %}
        <script defer data-domain="{{ plausible_domain }}" src="https://plausible.io/js/script.js"></script>
    {% endif %}
{% endblock %}