{% extends 'unfold/layouts/base_simple.html' %}
{% load i18n unfold %}


{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Client Dashboard' %} | {{ site_title|default:_('Portal') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header }}
        </a>
    </h1>
{% endblock %}

{% block extrahead %}
    {% if plausible_domain %}
        <script defer data-domain="{{ plausible_domain }}" src="https://plausible.io/js/script.js"></script>
    {% endif %}    
{% endblock %}

{% block content %}
    {% include "unfold/helpers/messages.html" %}
    
    {% component "unfold/components/container.html" %}
        {% component "unfold/components/flex.html" with class="gap-4" %}
            {% component "unfold/components/navigation.html" with items=navigation %}{% endcomponent %}
        {% endcomponent %}

        {% include "client_services.html" %}

        {% component "unfold/components/flex.html" with class="gap-4 mb-8 flex-wrap" %}
            {% component "unfold/components/card.html" with class="lg:w-1/2" %}
                {% component "unfold/components/text.html" %}
                    {% trans "Total Clients" %}
                {% endcomponent %}   
                {% component "unfold/components/separator.html" %}{% endcomponent %}
                {% component "unfold/components/title.html" %}
                    {{ total_clients }}
                {% endcomponent %}                                  
            {% endcomponent %}
            
            {% component "unfold/components/card.html" with class="lg:w-1/2" %}
                {% trans "Clients by Ethnicity" as title %}
                {% component "unfold/components/text.html" %}
                    {{ title }}
                {% endcomponent %}
                {% component "unfold/components/separator.html" %}{% endcomponent %}
                {% component "unfold/components/flex.html" with col=1 class="gap-5" %}
                    {% for metric in ethnicity_breakdown %}
                        {% component "unfold/components/progress.html" with title=metric.title value=metric.value %}{% endcomponent %}
                    {% endfor %}                    
                {% endcomponent %}
            {% endcomponent %}
            
            {% component "unfold/components/card.html" with class="lg:w-1/2" %}
                {% trans "Areas Served" as title %}
                {% component "unfold/components/text.html" %}
                    {{ title }}
                {% endcomponent %}
                {% component "unfold/components/separator.html" %}{% endcomponent %}
                {% component "unfold/components/flex.html" with col=1 class="gap-5" %}
                    {% for metric in zipcode_breakdown %}
                        {% component "unfold/components/progress.html" with title=metric.title value=metric.value %}{% endcomponent %}
                    {% endfor %}                    
                {% endcomponent %}
            {% endcomponent %}
        {% endcomponent %}
    {% endcomponent %}
{% endblock %}