{% load unfold i18n %}

<div class="bg-gray-50 border border-gray-300 border-dashed flex flex-col gap-4 mb-8 p-6 rounded dark:bg-white/[.02] dark:border-gray-700 lg:flex-row lg:items-center">
    <div class="flex flex-col">
        <h2 class="block font-semibold text-font-important-light text-base dark:text-font-important-dark">
            {% trans "Welcome to the Family Health Amigos Client Dashboard" %}
        </h2>

        <p class="leading-relaxed mt-2">
            {% trans "This is a ceneterlized portal for all the data related to Family Health Amigos clients. You can input client data, track the status of the clients, and service areas." %} 
        </p>

        <div class="flex flex-col gap-4 mt-4 lg:flex-row lg:items-center">
            {% component "components/button.html" with href="/client/client/add/" %}
                {% trans "New Client" %}
            {% endcomponent %} 

            {% component "components/button.html" with href="client/areaserviced/" %}
                {% trans "New Service Area" %}
            {% endcomponent %} 

            {% component "components/button.html" with href="/documentation" variant="default" %}
                {% trans "Documentation" %}
            {% endcomponent %}  
        </div>
    </div>
</div>