{% load unfold i18n %}

<div class="bg-gray-50 border border-gray-300 border-dashed flex flex-col gap-4 mb-8 p-6 rounded dark:bg-white/[.02] dark:border-gray-700 lg:flex-row lg:items-center">
    <div class="flex flex-col">
        <h2 class="block font-semibold text-font-important-light text-base dark:text-font-important-dark">
            {% trans "Welcome to the Family Health Amigos Portal" %}
        </h2>

        <p class="leading-relaxed max-w-3xl mt-2">
            {% trans "This is a ceneterlized portal for all the data related to Family Health Amigos operations. You can input durable medical equipment (DME) orders, track the status of the orders, client database, survey response database and incocinent supplies order data" %}
            
        </p>
    </div>

    <div class="lg:ml-auto">
        {% component "unfold/components/flex.html" with class="flex-col gap-4 lg:flex-row" %}
            {% component "unfold/components/button.html" with href="" %}
                {% trans "New Equipment Order" %}
            {% endcomponent %} 

            {% component "unfold/components/button.html" with href="" %}
                {% trans "New Innconient Supply Order" %}
            {% endcomponent %} 

            {% component "unfold/components/button.html" with href="" variant="default" %}
                {% trans "Documentation" %}
            {% endcomponent %}  
        {% endcomponent %}
    </div>
</div>